body{
  background-color: rgb(210, 210, 252);
}
  
  #titulo {
    width: 80%;
   height: 55px;
   background-color: rgb(37, 218, 142);
   float: left;
   margin-left: 10px;
   margin-top: 5px;
   border-top-style: outset;
  border-top-color: rgb(32, 59, 146);
  border-bottom-style: double;
  border-bottom-color: rgb(62, 10, 194);
   border-width:10px ;
   text-align:center ;
   border-radius:40px ;
   color: bisque;
  }

 /* sub titulo*/
 .con:hover{
font-size: 25px;
background-color: aquamarine;

 }
 .con{
      margin-top: 30%;
    background-color: rgb(17, 161, 197);
     width: 75%;
   height: 40px;
    color: rgb(245, 253, 255);
    border-top-style: outset;
  border-top-color: rgb(77, 115, 238);
  border-bottom-style: outset;
  border-bottom-color: rgb(77, 115, 238);
   border-width:10px ;
   border-bottom-color:rgb(77, 115, 238) ;
border-left-style: outset;
border-left-width: 10px;
border-left-style: outset;
border-left-width: 10px;
border-left-color: rgb(77, 115, 238);
border-right-style:outset;
border-right-width: 10px;
border-right-color: rgb(77, 115, 238);
border-radius: 40px;
text-align: center;

 }
  .inh1{
    margin-top: 0%;
    background-color: rgb(17, 161, 197);
     width: 60%;
   height: 60px;
    color: rgb(245, 253, 255);
    border-top-style: outset;
  border-top-color: rgb(77, 115, 238);
  border-bottom-style: outset;
  border-bottom-color: rgb(77, 115, 238);
   border-width:10px ;
   border-bottom-color:rgb(77, 115, 238) ;
border-left-style: outset;
border-left-width: 10px;
border-left-style: outset;
border-left-width: 10px;
border-left-color: rgb(77, 115, 238);
border-right-style:outset;
border-right-width: 10px;
border-right-color: rgb(77, 115, 238);
border-radius: 40px;
text-align: center;



  }
    .titusec {
   
    font-size: 30px;
     margin-top: 5%;
    background-color: rgb(17, 161, 197);
     width: 60%;
   height: 40px;
    color: rgb(245, 253, 255);
    border-top-style: outset;
  border-top-color: rgb(77, 115, 238);
  border-bottom-style: outset;
  border-bottom-color: rgb(77, 115, 238);
   border-width:10px ;
   border-bottom-color:rgb(77, 115, 238) ;
border-left-style: outset;
border-left-width: 10px;
border-left-style: outset;
border-left-width: 10px;
border-left-color: rgb(77, 115, 238);
border-right-style:outset;
border-right-width: 10px;
border-right-color: rgb(77, 115, 238);
border-radius: 40px;
text-align: center;

    
  }


    .inh1:hover {
    background-color: rgb(27, 25, 122);
    font-size: 30px;

    
  }
    header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
  }
  .men{
    background-color: rgb(94, 161, 97);
    color: blanchedalmond;
  }
  .bod{
    background-color: aqua;
  }
  /**/
  .Sec1 {
    width: 100%;
    padding: 20px;
    background-color: rgb(187, 234, 140);
  }
  
  .articulo {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    background-color: rgb(246, 248, 243);
    border-radius: 10px;
  }
  
  .imagen {
    width: 150px;
    height: 150px;
    background-color: rgb(165, 222, 236);
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto {
    width: 400px;
    height: 160px;
    background-color: rgb(243, 238, 238);
    border-radius: 10px;
    overflow: hidden;
  
    
  }
/* li de sub titulo*/
.l1{
    font-size: 105%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.l1{
  color: rgb(10, 72, 243);
}
/* cuadrode texto*/
.cuatex{
  width: 700px;
  height: 40pxpx;
      padding: 20px;
      margin: 50px auto;
      background-color: #f0f0f0;
      border: 2px  #ccc;
      border-radius: 10px;
      font-family: Arial, sans-serif;
      color: #141414;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      
}
.cuate{
  width: 700px;
  height: 40pxpx;
      padding: 20px;
      margin: 50px auto;
      background-color: #f0f0f0;
      border: 2px  #ccc;
      border-radius: 10px;
      font-family: Arial, sans-serif;
      color: #000000;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      
}
#im{
      width: 65%;
    height: 60%;
    object-fit: cover;
  margin-top: 5px;
margin: auto;
display: block;
  }
.colo
{
  color: #290da7;
}
h1{
  color: #3510db;
}
.imsect{
      width: 40%;
    height: 50%;
    object-fit: cover;
  margin-top: 5px;
margin: auto;
display: block;
}
.cuat{
    width: 700px;
  height: 40pxpx;
      padding: 20px;
      margin: 50px auto;
      background-color: #f0f0f0;
      border: 2px  #ccc;
      border-radius: 10px;
      font-family: Arial, sans-serif;
      color: #000000;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}.contenedor-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.contenedor {
  display: flex;
  padding: 0;
  margin: 0;
}

#letracolor{
  color: #ff3939;
  font-size: 180%;
}
#letracolo{
  color: #407ef3;
  font-size: 160%;
}


    .galeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
      gap: 15px;
      max-width: 800px;
      margin: auto;
    }

    .galeria img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      object-fit: cover;
    }
.im3{
        width: 30%;
    height: 35%;
    object-fit: cover;
  margin-top: 5px;
margin: auto;
display: block;
}
.color3{
  color: #0da75a;
  font-size: 150%;
  text-align: center;
list-style-type: circle;
}